{% extends 'base.html.twig' %}

{% block title %}Edit ticket{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/customerStyle.css') }}">{% endblock %}
{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <section class="example-wrapper">
        <h1>Ticket</h1>
        {#    If there's an error, it will be display here    #}
        <p>{{ error|default('') }}</p>
        {#    Table containing information of the current ticket    #}
        <section class="table">
            <tbody>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="row">Id</th>
                    <th>{{ ticket.id }}</th>
               </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Title</th>
                    <td>{{ ticket.title }}</td>
                </tr>
                <tr>
                    <th scope="row">Content</th>
                    <td>{{ ticket.content }}</td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>{{ ticket.status }}</td>
                </tr>
                <tr>
                    <th scope="row">CreatedDate</th>
                    <td>{{ ticket.createdDate ? ticket.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th scope="row">UpdatedDate</th>
                    <td>{{ ticket.updatedDate ? ticket.updatedDate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th scope="row">IsEscalated</th>
                    <td>{{ ticket.isEscalated ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th scope="row">CloseReason</th>
                    <td>{{ ticket.closeReason }}</td>
                </tr>
                <tr>
                    <th scope="row">Priority</th>
                    <td>{{ ticket.priority }}</td>
                </tr>
                </tbody>
            </table>

            <!--<tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ ticket.content }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ticket.status }}</td>
            </tr>
            <tr>
                <th>CreatedDate</th>
                <td>{{ ticket.createdDate ? ticket.createdDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedDate</th>
                <td>{{ ticket.updatedDate ? ticket.updatedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsEscalated</th>
                <td>{{ ticket.isEscalated ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CloseReason</th>
                <td>{{ ticket.closeReason }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ ticket.priority }}</td>
            </tr>
            </tbody>
        </table>-->
    </section>


    {#  All comments of the current tickets  #}
    <section class="example-wrapper">
        <h1>List of comments on this ticket</h1>
        {% for comment in ticket.comments %}
            <div>
                <h3>{{ comment.title }}</h3>
                {% if comment.isPrivate %}
                    <p>This comment is private!</p>
                {% endif %}
                <p>{{ comment.content }}</p>
            </div>
        {% else %}
        <p>No comment yet.</p>
        {% endfor %}
    </section>

    {#  If a ticket is not closed, show the form to add comment and button to close/escalate  #}
    {% if ticket.status != close %}
        <section class="example-wrapper">
            <h1>Add new comment</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Add Comment</button>
            <!--<button type="submit">Add Comment</button>-->
            {{ form_end(form) }}
        </section>
        <section class="example-wrapper">
            <form method="post">
                <input type="hidden" name="closeTicket" value="{{ ticket.id }}">
                <!--<button type="submit">Close this ticket</button>-->
                <button type="submit" class="btn btn-primary">Close this ticket</button>
            </form>
        </section>
        {#  Only first line agent can escalate a ticket      #}
        {% if not agent.isSecondLine %}
            <section class="example-wrapper">
                <form method="post">
                    <input type="hidden" name="escalateTicket" value="{{ ticket.id }}">
                    <button type="submit" class="btn btn-primary">Escalate this ticket</button>
                    <!--<button type="submit">Escalate this ticket</button>-->
                </form>
            </section>
        {% endif %}
    {% endif %}

    <a href="{{ path('agent_home') }}">Back to home</a>

{% endblock %}
