{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Ticket overview</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Customer Id</th>
            <th>Agent Id</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Creation date</th>
            <th>Update date</th>
            <th>Escalated?</th>
            <th>Reason for closing</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td><a href="{{ path('ticket_show', {'id': ticket.id }) }}">{{ ticket.title }}</a></td>
                <td>{{ ticket.customer }}</td>
                <td>
                    <p>Current: {{ ticket.agent ?? "No assigned agent." }}</p>
                    <form method="post">
                        <input type="hidden" name="ticketId" value="{{ ticket.id }}">
                        <label>
                            <select name="reassignAgent">
                                {% for agent in agents %}
                                    <option value="{{ agent.id }}">{{ agent.email }}</option>
                                {% else %}
                                    No agent found.
                                {% endfor %}
                            </select>
                        </label>
                        <button type="submit">Reassign Agent</button>
                    </form>
                </td>
                <td>
                    {% if ticket.status == open %}
                        Open
                    {% elseif ticket.status == in_progress %}
                        In progress
                    {% elseif ticket.status == waiting_feedback %}
                        Waiting for customer feedback
                    {% else %}
                        Close
                    {% endif %}
                </td>
                <td>
                    <p>Current:
                        {% if ticket.priority == high_priority %}
                            High
                        {% elseif ticket.priority == medium_priority %}
                            Medium
                        {% else %}
                            Low
                        {% endif %}
                    </p>
                    <form method="post">
                        <input type="hidden" name="ticketId" value="{{ ticket.id }}">
                        <label>
                            <select name="setPriority">
                                <option value="{{ high_priority }}">High</option>
                                <option value="{{ medium_priority }}">Medium</option>
                                <option value="{{ low_priority }}">Low</option>
                            </select>
                        </label>
                        <button type="submit">Set Priority</button>
                    </form>
                </td>
                <td>{{ ticket.createdDate|date("F jS \\a\\t g:ia") }}</td>
                <td>{{ ticket.updatedDate|date("F jS \\a\\t g:ia") }}</td>
                <td>{{ ticket.isEscalated ? 'Yes' : 'No' }}</td>
                <td>
                    {% if ticket.closeReason %}
                        {{ ticket.closeReason }}
                    {% else %}
                        <form method="post">
                            <input type="hidden" name="ticketId" value="{{ ticket.id }}">
                            <label>
                                <textarea name="closeReason" cols="10" rows="3" required></textarea>
                            </label>
                            <button type="submit">Won't Fix</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Agent index</h1>


    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Is Second Line</th>
            <th>Number of <em>open</em> tickets</th>
            <th>Number of <em>closed</em> tickets</th>
            <th>Number of <em>reopened</em> tickets</th>
            <th>Ticket success rate (closed - reopened)</th>
        </tr>
        </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td>{{ agent.id }}</td>
                <td>{{ agent.email }}</td>
                <td>{{ role_agent_second_line in agent.roles ? "Yes" : "No" }}</td>
                <td>{{ agent.openTickets }}</td>
                <td>{{ agent.closedTickets }}</td>
                <td>{{ agent.reopen }}</td>
                <td>{{ agent.closedTickets - agent.reopen }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agent_new') }}">Create new</a>

    <h1>Ticket Control</h1>
    <form action="{{ path('ticket_reset') }}">
        <button name="openTickets">Open All Tickets</button>
    </form>


    <h1>Customer index</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>

            <th>Convert</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.email }}</td>

                <td>
                    <form method="post">
                        <input type="hidden" name="convertToAgent" value="{{ customer.id }}">
                        <label>Is Second Line?
                            <input type="checkbox" name="isSecondLine">
                        </label>
                        <button type="submit">Convert to Agent</button>
                    </form>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
