{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Ticket overview</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Customer Id</th>
                <th>Agent Id</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Creation date</th>
                <th>Update date</th>
                <th>Escalated?</th>
                <th>Reason for closing</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.content }}</td>
                <td>{{ ticket.customer }}</td>
                <td>{{ ticket.agent }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.priority }}</td>
                <td>{{ ticket.createdDate|date("F jS \\a\\t g:ia") }}</td>
                <td>{{ ticket.updatedDate|date("F jS \\a\\t g:ia") }}</td>
                <td>{{ ticket.isEscalated ? 'Yes' : 'No' }}</td>
                <td>{{ ticket.closeReason}}</td>
                <td>
                    <a href="{{ path('ticket_show', {'id': ticket.id}) }}">show</a>
                    <a href="{{ path('ticket_edit', {'id': ticket.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Agent index</h1>


    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>IsVerified</th>
            <th>Number of <em>open</em> tickets</th>
            <th>Number of <em>closed</em> tickets</th>
            <th>Number of <em>reopened</em> tickets</th>
            <th>Ticket success rate (closed - reopened)</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td>{{ agent.id }}</td>
                <td>{{ agent.email }}</td>
                <td>{{ agent.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ agent.openTickets }}</td>
                <td>{{ agent.closedTickets }}</td>
                <td>{{ agent.reopen }}</td>
                <td>{{ agent.closedTickets - agent.reopen}}</td>
                <td>
                    <a href="{{ path('user_show', {'id': agent.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': agent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agent_new') }}">Create new</a>

    <h1>Ticket Control</h1>
    <form action="{{ path('ticket_reset') }}">
        <button name="openTickets">Open All Tickets</button>
    </form>


    <h1>Customer index</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>

            <th>Convert</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.email }}</td>

                <td>
                    <form method="post">
                        <input type="hidden" name="convertToAgent" value="{{ customer.id }}">
                        <label>Is Second Line?
                            <input type="checkbox" name="isSecondLine">
                        </label>
                        <button type="submit">Convert to Agent</button>
                    </form>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
